<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Pet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <!--
        Authors: Jacob Landowski
                 Shahbaz Iqbal
        1-30-18
    -->

</head>
<body>
    <div class="container">

        <h1>Order a Pet</h1>
        <form action="./new-pet" method="POST" class="container-fluid p-0">

            <div class="row">
                <check if="{{ @success }}">
                    <h2>
                        Thank you for your order of {{ @name }} the {{ @color }} {{ @type }}
                    </h2>
                </check>
            </div>
            <div class="row mb-3">
    
                <div class="col-12 col-lg-4">
                    <label class="font-weight-bold">Pet Name</label><br/>
                    <check if="{{ isset(@errors['name']) }}">
                        <p>{{ @errors['name'] }}</p>
                    </check>
                    <input class="w-100" type="text" name="pet-name"
                        value="{{ @name }}" 
                    />
                </div>
                
                <div class="col-12 col-lg-4">
                    <label class="font-weight-bold">Pet Color</label><br/>
                    <check if="{{ isset(@errors['color']) }}">
                        <p>{{ @errors['color'] }}</p>
                    </check>
                    <select class="form-control"
                            name="pet-color"
                            id="pet-color"
                    >
                        <option>--Select--</option>
                        <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                            <option
                                <check if="{{ @colorOption == @color }}">selected</check>                            
                            >{{ @colorOption }}
                            </option>
                        </repeat>
                    </select>
                </div>
    
                <div class="col-12 col-lg-4">
                    <label class="font-weight-bold">Pet Type</label><br/>
                    <check if="{{ isset(@errors['type']) }}">
                        <p>{{ @errors['type'] }}</p>
                    </check>
                    <input class="w-100" type="text" name="pet-type"
                        value="{{ @type }}"
                     />
                </div>
    
            </div>
    
            <div class="row">
                <input class="btn col-12 col-lg-4 offset-lg-4" type="submit" value="submit" />
            </div>
            
        </form>
    </div>
</body>
</html>